.bars{
    margin-left: 1px;
    margin-right: 1px;
    background-color: yellow;
    display: inline-block;
    vertical-align: bottom;
}
.nav{
    border: 1px solid black;
    border-radius: 10px;
    
    
}


.first{
    background-color: green;
}
.second{
    background-color: red;
    
}
.tt{
    background-color: blue;
}
li{
    list-style: none;
    background-color: burlywood;
    width: 9%;
    border: 1px solid black;
    margin-top: 2px;
    text-align: center;
}