<div class="nav">

  <ul class="nav flex-column">
    <li class="nav-item">
        <a  id="link1" routerLink="/bubblesort" routerLinkActive="active">Bubble Sort</a>
    </li>
    <li class="nav-item">
        <a id="link2" routerLink="/mergesort" routerLinkActive="active">Merge Sort</a>
    </li>
    <li class="nav-item">
        <a id="link3" routerLink="/insertionsort" routerLinkActive="active">Insertion Sort</a>
    </li>
    <li class="nav-item">
        <a id="link4" routerLink="/selectionsort" routerLinkActive="active">Selection Sort</a>
    </li>
    <li class="nav-item">
        <a id="link5" routerLink="/quicksort" routerLinkActive="active">Quick Sort</a>
    </li>
  </ul>
</div>