
<div class="log">SORTING VISUALIZER</div>

<div style="margin: auto;width: 60%;margin-top: 10%;" >
            <div class="btn ">
                <a routerLink="/bubblesort" routerLinkActive="active">Bubble Sort</a>
            </div>
            <div class="btn ">
            <a routerLink="/mergesort" routerLinkActive="active">Merge Sort</a>
        </div>
      
            <div class="btn ">
            <a routerLink="/insertionsort" routerLinkActive="active">Insertion Sort</a>
        </div>
       
            <div class="btn ">
            <a routerLink="/selectionsort" routerLinkActive="active">Selection Sort</a>
        </div>
     
            <div class="btn ">
            <a routerLink="/quicksort" routerLinkActive="active">Quick Sort</a>
        </div>   
</div>
